@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

.centered {
  height: 50vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home, .outpatient, .registration, .reports{
display: flex;
height: 90vh;
align-items: center;
justify-content: center;
font-size: 3rem;
}

nav{

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(135, 178, 192);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}